body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://i.pinimg.com/originals/0a/fc/c0/0afcc00127741da6ce6c2bb0558c7032.jpg); 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #333;
}

input {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #6870e0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#movieResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 200px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.movie:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie h3 {
    font-size: 1.2em;
    color: #333;
}

.movie p {
    color: #555;
}

#errorMessage {
    color: red;
    margin-top: 20px;
}
